
$up-color:   Green;
$down-color: Red;

$status-border-color: Gray;
$status-font-color:   White;

$button-fg-color:     White;
$button-bg-color:     #483d8b;
$button-border-color: #696969;

$status-fg-color:         White;
$status-bg-color-default: #aaaaaa;
$status-border-color:     #333333;
