@import '../../variables.scss';

.env-display {
    width:            100%;
    color:            White;
    background-color: #CCCCCC;
    padding:          15px;
    margin:           0px;
    margin-top:       10px;
}

.env-display-active {
    width:            100%;
    color:            Black;
    background-color: #00bfff;
    padding:          15px;
    margin:           0px;
    margin-top:       10px;
    border-top:       2px solid black;
    border-left:      2px solid black;
    border-right:     2px solid black;
}

.spacer {
    width:  5px;
}

.status-box {
    width:            100%;
    border:           2px solid $status-border-color;
    padding:          5px;
}

.status-box-default {
    color:            $status-fg-color;
    background-color: $status-bg-color-default;
}

.status-box-up {
    color:            $status-fg-color;
    background-color: $up-color;
}

.status-box-down {
    color:            $status-fg-color;
    background-color: $down-color;
}

.status-box-title {
    font-size: 7pt;
}

.status-box-contents {
    font-size:        14pt;
    font-weight:      Bold;
}

.restart-icon {
    width:  30px;
    height: 30px;
}
