<div class="row">
  <div class="col-sm-2">
    <button id="refreshView" class="btn btn-primary app-button" (click)="refreshView()">
      Refresh Status
    </button>
  </div>
  <div class="col text-left">
    Last updated on {{ lastUpdatedTime | date : 'full' }}
  </div>
</div>

<div class="row">
  <ng-container *ngFor="let env of environments">

    <ng-container *ngIf="activeEnvironment == env">
      <div class="col-1 env-display-active"> <h2>{{ env }}</h2> </div>
      <div class="col spacer"> &nbsp; </div>
    </ng-container>

    <ng-container *ngIf="activeEnvironment != env">
      <div class="col-1 env-display" (click)="onTabClick(env)"> <h2>{{ env }}</h2> </div>
      <div class="col spacer"> &nbsp; </div>
    </ng-container>

  </ng-container>
</div>

<ng-container *ngFor="let env of environments">
  <ng-container *ngIf="activeEnvironment == env">
    <div class="row">
      <ng-container *ngFor="let serverStatus of statuses?.get(env)">
        <div class="col-6 status-box {{ serverStatus?.isResponding ? 'status-box-up' : 'status-box-down' }}">

          <div class="row">
            <div class="col-1 status-box-title"> Environment </div>
            <div class="col-1 status-box-title"> Project </div>
            <div class="col-3 status-box-title"> Application Name </div>
            <div class="col-2 status-box-title"> Version </div>
            <div class="col-4 status-box-title"> Branch Name </div>
            <div class="col-1 status-box-title"> Restart </div>
          </div>
          <div class="row">
            <div class="col-1 status-box-contents"> {{ serverStatus.environmentName }} </div>
            <div class="col-1 status-box-contents"> {{ serverStatus.projectId }} </div>
            <div class="col-3 status-box-contents"> {{ serverStatus.applicationName }} </div>
            <div class="col-2 status-box-contents"> {{ serverStatus.buildInfo?.version }} </div>
            <div class="col-4 status-box-contents"> {{ serverStatus.gitInfo?.branchName }} </div>
            <div class="col-1 status-box-contents"> <img class="restart-icon" src="assets/restart-icon.png" (click)="onRestartClick(serverStatus)"/> </div>
          </div>

        </div>
      </ng-container>
    </div>

  </ng-container>
</ng-container>

<ngx-spinner
  size="large"
  type="ball-grid-pulse"
  color="#00bfff"
  >
</ngx-spinner>
